@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* ❌ 移除 dark mode 黑底
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: #f3f4f6; /* 明亮背景 */
  color: #111827;      /* 深色文字 */
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
